@model List<Producto>


    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col"> Id </th>
                <th scope="col"> Nombre </th>
                <th scope="col"> Descripcion </th>
                <th scope="col"> Proveedor </th>
                <th scope="col"> Precio </th>
                <th scope="col"> Acciones </th>
            </tr>
        </thead>
        <tbody>

            @foreach(var cliente in Model)
            {
                <tr>
                    <th scope="row"> @cliente.Id </th>
                    <td> @cliente.Nombre </td>
                    <td> @cliente.Descripcion </td>
                    <td> @cliente.Proveedor </td>
                    <td> @cliente.Precio </td>
                    <td>
                        <a role="button" asp-controller="Productos" asp-action="Editar" asp-route-id="@cliente.Id" class="btn btn-outline-success">Editar</a>
                        <a role="button" asp-controller="Productos" asp-action="Eliminar" asp-route-id="@cliente.Id" class="btn btn-outline-danger">Eliminar</a>
                    </td>
                </tr>

            }

            
        </tbody>
    </table>
